
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

#map-on-dom {
  width: 49.8%;
  height: 99.6%;
  float: left;
}

#map-on-canvas-container {
  width: 50%;
  height: 99.6%;
  float: right;
}
