
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

#map-on-dom {
  width: 49.2%;
  height: 99.3%;
  float: left;
}

#map-on-canvas-container {
  width: 50%;
  height: 99.3%;
  float: right;
}
