{
  "extends": "maptalks",
  "globals": {
    "$": true,
    "d3": true,
    "topojson": true,
    "subdomains": true,
    "echarts": true,
    "Highcharts": true
  },
  "rules": {
    "strict": 0,
    "comma-spacing": 0,
    "space-before-function-paren": "off",
    "indent": ["error", 2],
    "no-var": "off",
    "no-loop-func": "off"
  },
  "env": {
    "es6": true
  }
}
