
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.content {
    background: rgba(135,196,240, 0.8);
    width : 200px;
    height: 100px;
    border: 2px #fff solid;
    padding : 10px;
    color : #fff;
}

.content input {
  color : #bbb;
}

.content a {
  color : #fff;
  float : right;
  margin-right : 15px;
}
