
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 80%;
}

#coordinate {
    background-color: #34495e;
    width : 100%;
    height: 20%;
    overflow : hidden;
}

#coordinate pre {
    width : 100%;
    height : 100%;
    padding : 0px 0px 0px 13px;
    color : #fff;
    font: 13px "microsoft yahei",Arial,Helvetica;
}
