
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

#map1 {
  width: 49.6%;
  height: 100%;
  float: left;
}

#map2 {
  width: 49.6%;
  height: 100%;
  float: right;
}

.maptalks-toolbar-horizonal li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
