
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.container {
    width: 400px;
    height: 200px;
    transform: scale(2,2);
    /* https://developer.mozilla.org/zh-CN/docs/Web/CSS/transform-origin */
    transform-origin: top left;
}
