
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.content {
  color : #fff;
  width:190px;
  height:128px;
  background-color:#051127;
  border:1px solid #0c2c45;
}
.pop_title {
  float:left;
  padding-left:10px;
  width:180px;
  height:36px;
  line-height:36px;
  background:url(title.png);
  font-weight:bold;
  font-size:16px;
}
.pop_time {
  float:left;
  width:183px;
  height:30px;
  margin: 0 10px;
  line-height:36px;
}
.pop_dept {
  float:left;
  padding:5px;
  max-width:65px;
  line-height:15px;
  text-align:center;
  border:1px solid #192b41;
  margin:0 10px;
}
.pop_arrow {
  float:left;
  width:15px;
  height:24px;
  line-height:24px;
  background:url(arrow.png) no-repeat center center;
}
.arrow {
  display: block;
  width: 17px;
  height: 10px;
  background: url(em.png) no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  bottom: -10px;
}
