
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

body {
    font: 16px/1.4 "Helvetica Neue", Arial, sans-serif;
}

.my-ui {
    background: #fff;
    border: 1px solid #b4b3b3;
    border-radius: 3px;
    box-shadow: 3px 5px 5px #dbdada;
    width: 200px;
    height: 50px;
    text-align: center;
}
