
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#info {
  position:fixed;
  background-color: rgba(13, 13, 13, 0.5);
  padding : 10px 10px 10px 10px;
  font : 13px bold sans-serif;
  color : #fff;
  right : calc(50% - 100px);
  bottom : calc(50% - 40px);
  width : 200px;
  height: 80px;
  overflow : hidden;
}
