
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 70%;
  float: left;
}

#events {
    background-color: #34495e;
    width : 100%;
    height: 30%;
    overflow : hidden;
}

#events div {
    width : 100%;
    height : 100%;
    padding : 13px 0px 0px 13px;
    color : #fff;
}
