
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.text_marker {
    font: 30px bold sans-serif;
    color: #34495e;
    text-shadow: 2px 0 white;
    width: 160px;
}
