
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.container {
  float: left;
  width: 100%;
  height: 100%;
}

.pane {
  background: #34495e;
  line-height: 28px;
  color: #fff;
  z-index : 10;
  position: absolute;
  top : 20px;
  right : 20px;
}

.pane a {
  display : block;
  color: #fff;
  text-align: left;
  padding: 0 10px;
  min-width: 28px;
  min-height: 28px;
  float: left;
}
