
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#map {
    float:left;
    width: 60%;
    height: 100%;
}

#animation {
    float:right;
    padding : 10px;
    height: 100%;    
}

#animation button {
    width : 60px;
    height : 20px;
}