
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

#info {
  position:fixed;
  background-color: rgba(13, 13, 13, 0.5);
  padding : 10px 10px 10px 10px;
  font : 13px bold sans-serif;
  color : #fff;
  right : 20px;
  top : 20px;
  width : 100px;
  height: 40px;
  overflow : hidden;
}

.custom_menu {
  width : 90px;
  color : #fff;
  background-color:#051127;
  border :1px solid #0c2c45;
  list-style: none;
  padding : 0;
}
.custom_menu li {
  padding : 0 8px;
  font-size: 12px;
  line-height: 24px;
}
.custom_menu li:hover {
  background: #0e595e;
  cursor : pointer;
}
.custom_menu li+li {
  border-top : 1px solid #bbb;
}
