
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.content {
    background: #cccccc;
    color: #0000ff;
    width: 200px;
    height: 50px;
}

.closeButton {
    position: relative;
    top: 0px;
    left: 180px;
    cursor: pointer;
    color: #ff0000;
}
