/* - - - - - - - - - default style for explorers- - - - - - - - -*/
html,body,span,object,iframe,h1,h2,h3,h4,h5,p,blockquote,pre,
a,address,code,
del,em,img,dl,dt,dd,ol,ul,li,
fieldset,form,label {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,
menu,nav,section,summary,audio,video {
  margin: 0;
  padding: 0;
  display: block;
}
html {
  -webkit-text-size-adjust: none;
}
img {
  border: none;
  vertical-align: middle;
}
input,select,button {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: inherit;
  vertical-align: middle;
}
textarea{font-family:inherit;padding:0;margin:0;}
button{cursor:pointer;}
html{overflow-x:hidden;}
body{font-size:12px;background-color:#fff;font-family:'Microsoft YaHei';}
ul,ol{list-style-type:none;}
h1{font-size:24px;}
h2{font-size:18px;}
h3,h4{font-size:14px;}
h5{font-size:12px;}
i,em,address{font-style:normal;}
a{ text-decoration:none;color:#4f4f4f;}
a:hover{transition:color 200ms linear 0s,background-color 200ms linear 0s,border-color 200ms linear 0s;}  /*mouse hover*/
a:active{}  /*link active*/
a:visited{}/* link visited */

/*  - - - - - - - - - common style  - - - - - - - - -*/
.photo_fullsize img{display:block;width:100%;height:100%;}  /*full size*/
.no_border{ border:none!important;} /*no border*/
.no_bg{ background:none!important;} /*no background*/
.clear{ display:block;height:0; line-height:0;overflow:hidden; clear:both;font-size:0;}/*clear float*/
.clear_::after{content:"";display:block; clear:both;height:0; line-height:0; overflow:hidden;}/*clear float*/
.center{margin:0 auto;width:1000px;}  /*let block center alignment*/

/*- - - - - - - - -style for maptalks demo - - - - - - - -*/
/*Header*/
#header{height:78px;box-shadow:0 3px 7px rgba(0,0,0,0.4);position:relative;z-index:1500;border-bottom:1px solid #ccc;}
  /*site logo*/
  #logo{width:279px;float:left;text-align:center;padding-top:31px;}
  /*menu*/
  #menu{float:right;font-size:18px;margin-right:4.06%;display:block;}
  .btn_menu{width:81px;height:80px;background: url(../images/demo/icon_menu.png) no-repeat left top;position:absolute;right:0px;top:0px;display:none;}

/*content block*/
#container{padding-left:280px;position:relative;background:url(../images/demo/line_y.gif) repeat-y left top;}
/*Side bar*/
#sidebar{float:left;position:absolute;left:0px;top:0px;width:280px;}
#sidebar .SortList{background-color:#34495e;padding-top:7.78%;padding-bottom:7.78%;}

/*content*/
#content{margin-right:1.04%;padding-top:0.78%;margin-left:1%;overflow:hidden;}
/*map*/
#Map{width:51.190000000000005%;float:left;}
#Map img.pic{width:100%;max-width:100%;}
/*code*/
#Code {
  float:right;
  width:47.88%;
}
#Code img.pic {
  max-width:100%;
  width:100%;
}
#Code .CodeBox {
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  background-color: #212121;
  margin-bottom: 24px;
  color: #ffffff;
  text-align: left;
  font-size: 14px;
}
#Code .CodeBox a{
  color: #5c5c5c;
  font-size: 14px;
}
/*footer*/
#footer{background-color:#222222;color:#5c5c5c;padding-top:18px;padding-bottom:18px;}
#footer .bomnav{width:20%;float:left;margin-left:22.31%;margin-top:15px;}
#footer .bomnav li{font-size:14px;float:left;padding-left:15px;padding-right:15px;}
#footer .bomnav li a{float:left;height:42px;line-height:42px;}
#footer .copyright{width:14.00%;float:right;line-height:24px;margin-right:22.41%;}
/*title*/
.MainTitle{font-size:26px;height:46px;line-height:46px;}
/*list*/
.SortList li{margin-bottom:23px;padding-left:30px;}
.SortList li a{font-size:19px;color:#fff;display:block;}
.SortList li a span{display:inline-block;width:21px;height:21px;background: url(../images/demo/arrow01.png) no-repeat left top;vertical-align:middle;}
.SortList li.change>a,.SortList li a:hover{color:#2f9d94;text-decoration:none;}
.SortList li.change span{background-image:url(../images/demo/arrow02.png) ;}
.SortList li ol{padding-top:10px;padding-left:11px;display:none;}
.SortList li ol li{height:26px;line-height:26px;overflow:hidden;margin-bottom:0px;padding-left:0px;}
.SortList li ol li a{font-size:13px;color:#788b9c;}
.SortList li ol li a.change{color:#2f9d94;}
.Codetitle{height:40px;line-height:40px;padding-left:19px;border-radius:7px 7px 0 0;background-color:#212121;color:#fff;border-bottom:1px solid #686868;}
/*button*/
 .btn_{text-align:right;height:30px;line-height:30px;font-size:14px;margin-bottom:12px;}
 .btn_ a{background-color:#1bbc9b;color:#fff;padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:7px;border-radius:4px;margin-left:4px;margin-right:4px;}
 .btn_ a:hover{background-color:#18a689;}
@media screen and (min-width: 761px){
  #menu{ display:block!important;}
  #menu ul{float:left;}
  #menu ul li{float:left;position:relative;margin-left:26px;}
  #menu ul li a{height:78px;line-height:78px;float:left;padding-left:18px;padding-right:18px;white-space:nowrap;}
  #menu ul li a:hover{color:#1bbc9b;}
  #menu ul li.change a{border-bottom:8px solid #28b7a3;height:70px;}
  #menu ul li a.btn_openmenu{background:url(../images/demo/arrow04.png) no-repeat right center;}
  #menu ul li ol{position:absolute;left:0px;top:64px;width:140px;border-radius:8px;background:url(../images/demo/black_bg_6.png) repeat left top;margin-left:-40px;display:none;}
  #menu ul li ol li{float:none;margin-left:0px;}
  #menu ul li ol li a{font-size:18px;height:35px;line-height:35px;color:#fff;float:none;display:block;}
  #menu ul li ol li a:hover{color:#999;}
  #menu ul li ol .arrow{width:12px;height:7px;background: url(../images/demo/arrow03.png) no-repeat left top;position:absolute;top:-7px;left:50%;margin-left:-6px;}

  #sidebar .SortList{display:block!important;}
}
@media screen and (max-width: 1280px) and (min-width: 761px){
    #Map{width:100%;float:none;margin-bottom:12px;}
    #Code{float:none;width:100%;}
}
@media screen and (max-width: 760px){
    #logo{ text-align:left;padding-left:13px;}
    #menu{position:absolute;right:0;top:78px;left:0px;margin-right:0px;background: url(../images/demo/black_bg_7.png) ;display:none;}
    #menu ul{padding-top:10px;padding-bottom:10px;}
    #menu ul li{margin-bottom:1px;}
    #menu ul li a{color:#fff;height:45px;line-height:45px;padding-left:25px;display:block;background-color:rgba(0,0,0,0.8);}
    #menu ul li a.btn_openmenu{background:url(../images/demo/arrow01.png) no-repeat 95% center; background-color:rgba(0,0,0,0.8);}
    #menu ul li a.openthis{background:url(../images/demo/arrow02.png)  no-repeat 95% center ;background-color:rgba(0,0,0,0.8);}
    #menu ul li ol{display:none;}
    #menu ul li ol li{margin-bottom:1px;}
    #menu ul li ol li a{font-size:14px;padding-left:60px;display:block;background-color:#424242;color:#ccc;height:30px;line-height:30px;}
    #menu ul li ol li a:hover{background-color:#010101;}

    .btn_menu{ display:block;}
    #container{width:100%; background:#fff;padding-left:0;}
    #sidebar{width:100%;}
    #sidebar .SortList{display:none;}
    #sidebar .SortList{padding-top:4.78%;padding-bottom:4.78%;}

    #sidebar .btn_Sort{width:21px;height:21px;background: url(../images/demo/arrow05.png) no-repeat left top;position:absolute;right:30px;top:18px;}
    #sidebar .btn_Sort_open{background-image:url(../images/demo/arrow06.png) ;}
    #neirong{width:100%;margin:0; }
    #Map{width:95%;float:none;margin:0 auto;margin-bottom:12px;}
    #Code{float:none;width:95%;margin:0 auto;}
    .btn_{ text-align:center;}
    #footer{padding:15px 0;}
    #footer .bomnav{ float:none;width:100%;margin:0; text-align:center;}
    #footer .bomnav li{padding:0 5px; float:none; display:inline;}
    #footer .bomnav li a{ font-size:11px; line-height:24px;height:auto; float:none;}
    #footer .copyright{ font-size:11px; text-align:center;width:95%;margin:0;}
}

.column {
  max-width: 960px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}

h1,
iframe {
  width: 960px;
}

iframe {
  border: solid 1px #eee;
  border-bottom: solid 1px #ccc;
}

