/* - - - - - - - - - default style for explorers- - - - - - - - -*/
html,body,span,object,iframe,h1,h2,h3,h4,h5,p,blockquote,pre,
a,address,code,
del,em,img,dl,dt,dd,ol,ul,li,
fieldset,form,label {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,
menu,nav,section,summary,audio,video {
  margin: 0;
  padding: 0;
  display: block;
}
html {
  -webkit-text-size-adjust: none;
}
img {
  border: none;
  vertical-align: middle;
}
input,select,button {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: inherit;
  vertical-align: middle;
}
textarea {
  font-family: inherit;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
html {
  overflow-x: hidden;
}
body {
  font-size: 12px;
  background-color: #fff;
  font-family: 'Microsoft YaHei';
}
ul,ol {
  list-style-type: none;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
h3,h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h1,iframe {
  width: 920px;
}
iframe {
  border: solid 1px #eee;
  border-bottom: solid 1px #ccc;
}
i,em,address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #4f4f4f;
}
a:hover {/*mouse hover*/
  transition: color 200ms linear 0s,background-color 200ms linear 0s,border-color 200ms linear 0s;
}
a:active {/*link active*/

}
a:visited {/*link visited*/

}
/*  - - - - - - - - - common style  - - - - - - - - -*/
.clear {
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden;
  clear: both;
  font-size: 0;
}
.clear_::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

/*- - - - - - - - -style for maptalks api demo - - - - - - - -*/@media screen {
body {
  background: #fff;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
@media screen {
  .wrapper {
    max-width: 1200px;
    margin: 0 0 0 40px;
  }
}
.inner:before,
#article-toc-inner:before,
.inner:after,
#article-toc-inner:after {
  content: "";
  display: table;
}
.inner:after,
#article-toc-inner:after {
  clear: both;
}
@media screen {
  .inner,
  #article-toc-inner {
    padding: 0 20px;
  }
}
#content-wrap {
  background: #fff;
}
#header {
  position: relative;
  padding: 0px 0;
}
@media print {
  #header {
    display: none;
  }
}
#header-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #header-inner {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
#logo-wrap {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 123px;
  -ms-flex: 0 123px;
  flex: 0 123px;
  border-bottom: 8px solid rgba(0,0,0,0);
}
#logo {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background: url("/logo.png");
  width: 123px;
  height: 19px;
  -webkit-background-size: 123px 19px;
  -moz-background-size: 123px 19px;
  background-size: 123px 19px;
  display: block;
}
#main-nav {
  display: none;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  padding-left: 20px;
}
@media screen and (min-width: 769px) {
  #main-nav {
    display: block;
  }
}
.main-nav-link {
  color: #2f383d;
  text-decoration: none;
  line-height: 72px;
  border-bottom: 8px solid rgba(0,0,0,0);
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  display: inline-block;
  padding: 0 15px;
}
.main-nav-link:hover {
  opacity: 1;
  color: #1fd6b0;
  border-bottom: 8px solid #1fd6b0;
}
.main-nav-link.active {
  opacity: 1;
  border-bottom: 8px solid #1fd6b0;
}
#lang-select-wrap {
  display: none;
  position: relative;
}
@media screen and (min-width: 769px) {
  #lang-select-wrap {
    display: block;
  }
}
#lang-select-label {
  color: #337ab7;
  opacity: 0.7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 80px;
}
#lang-select-label span {
  padding-left: 8px;
}
#lang-select-label i {
  opacity: 0.7;
}
#lang-select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: menulist-button;
  font-size: inherit;
}
.column {
  max-width: 960px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}
#menu {/*menu*/
  float: right;
  font-size: 18px;
  margin-right: 4.06%;
  display: block;
}
.btn_menu{
  width: 81px;
  height: 80px;
  background: url(../images/demo/icon_menu.png) no-repeat left top;
  position: absolute;
  right: 0px;
  top: 0px;
  display: none;
}
#container {/*demo page block*/
  margin-left: 40px;
  position: relative;
  max-width: 1200px;
  background: url(../images/demo/line_y.gif) repeat-y left top;
}
#sidebar {/*Side bar*/
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 280px;
}
#sidebar .SortList {
  background-color: #34495e;
  padding-top: 7.78%;
  padding-bottom: 7.78%;
}
/*list*/
.SortList li {
  margin-bottom: 23px;
  padding-left: 30px;
}
.SortList li a {
  font-size: 19px;
  color: #fff;
  display: block;
}
.SortList li a span {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url(../images/demo/arrow01.png) no-repeat left top;
  vertical-align: middle;
}
.SortList li.change>a,.SortList li a:hover {
  color: #2f9d94;
  text-decoration: none;
}
.SortList li.change span {
  background-image: url(../images/demo/arrow02.png);
}
.SortList li ol {
  padding-top: 10px;
  padding-left: 11px;
  display: none;
}
.SortList li ol li {
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  margin-bottom: 0px;
  padding-left: 0px;
}
.SortList li ol li a {
  font-size: 13px;
  color: #788b9c;
}
.SortList li ol li a.change {
  color: #2f9d94;
}
#demo_iframe {
  margin-left: 280px;
  border: solid 1px #eee;
  border-bottom: solid 1px #ccc;
}
#Code .CodeBox{
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  background-color: #212121;
  margin-bottom: 24px;
  font-size: 15px;
}
.Codetitle {
  height: 40px;
  line-height: 40px;
  padding-left: 19px;
  border-radius: 7px 7px 0 0;
  background-color: #212121;
  color: #fff;
  border-bottom: 1px solid #686868;
}
/*button*/
.btn_ {
  text-align: right;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 12px;
}
.btn_ a {
  background-color: #1bbc9b;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 7px;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
.btn_ a:hover {
  background-color: #18a689;
}
@media screen and (min-width: 761px) {
  #menu{ display:block!important;}
  #menu ul{float:left;}
  #menu ul li{float:left;position:relative;margin-left:26px;}
  #menu ul li a{height:78px;line-height:78px;float:left;padding-left:18px;padding-right:18px;white-space:nowrap;}
  #menu ul li a:hover{color:#1bbc9b;}
  #menu ul li.change a{border-bottom:8px solid #28b7a3;height:70px;}
  #menu ul li a.btn_openmenu{background:url(../images/demo/arrow04.png) no-repeat right center;}
  #menu ul li ol{position:absolute;left:0px;top:64px;width:140px;border-radius:8px;background:url(../images/demo/black_bg_6.png) repeat left top;margin-left:-40px;display:none;}
  #menu ul li ol li{float:none;margin-left:0px;}
  #menu ul li ol li a{font-size:18px;height:35px;line-height:35px;color:#fff;float:none;display:block;}
  #menu ul li ol li a:hover{color:#999;}
  #menu ul li ol .arrow{width:12px;height:7px;background: url(../images/demo/arrow03.png) no-repeat left top;position:absolute;top:-7px;left:50%;margin-left:-6px;}

  #sidebar .SortList{display:block!important;}
}
@media screen and (max-width: 760px) {
  #logo{ text-align:left;padding-left:13px;}
  #menu{position:absolute;right:0;top:78px;left:0px;margin-right:0px;background: url(../images/demo/black_bg_7.png) ;display:none;}
  #menu ul{padding-top:10px;padding-bottom:10px;}
  #menu ul li{margin-bottom:1px;}
  #menu ul li a{color:#fff;height:45px;line-height:45px;padding-left:25px;display:block;background-color:rgba(0,0,0,0.8);}
  #menu ul li a.btn_openmenu{background:url(../images/demo/arrow01.png) no-repeat 95% center; background-color:rgba(0,0,0,0.8);}
  #menu ul li a.openthis{background:url(../images/demo/arrow02.png)  no-repeat 95% center ;background-color:rgba(0,0,0,0.8);}
  #menu ul li ol{display:none;}
  #menu ul li ol li{margin-bottom:1px;}
  #menu ul li ol li a{font-size:14px;padding-left:60px;display:block;background-color:#424242;color:#ccc;height:30px;line-height:30px;}
  #menu ul li ol li a:hover{background-color:#010101;}

  .btn_menu{ display:block;}
  #container{width:100%; background:#fff;padding-left:0;}
  #sidebar{width:100%;}
  #sidebar .SortList{display:none;}
  #sidebar .SortList{padding-top:4.78%;padding-bottom:4.78%;}

  #sidebar .btn_Sort{width:21px;height:21px;background: url(../images/demo/arrow05.png) no-repeat left top;position:absolute;right:30px;top:18px;}
  #sidebar .btn_Sort_open{background-image:url(../images/demo/arrow06.png) ;}
  .btn_{ text-align:center;}
}

#footer {
  padding: 40px 0;
  color: #666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  background: #171f26;
  text-align: center;
  margin-top: 5px;
}
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#footer:after {
  clear: both;
}
@media screen and (min-width: 769px) {
  #footer {
    text-align: left;
  }
}
@media print {
  #footer {
    display: none;
  }
}
#footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
#footer a:hover {
  color: #1fd6b0;
}
#footer-copyright {
  line-height: 1;
}
@media screen and (min-width: 769px) {
  #footer-copyright {
    float: right;
  }
}
#footer-copyright a {
  font-weight: bold;
}
#footer-links {
  margin-top: 1em;
}
@media screen and (min-width: 769px) {
  #footer-links {
    float: left;
    margin-top: 0;
  }
}
.footer-link {
  font-size: 15px;
  margin-right: 20px;
}
.footer-link:last-child {
  margin-right: 0;
}

