html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.panel {
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  border: 1px solid gray;
  background-color: white;
}

.panel .item {
  line-height: 40px;
}

.text_marker {
  font: 15px bold sans-serif;
  color: #0000;
  text-shadow: 2px 0 white;
  background-color: #2695bbb3;
  border: 2px solid #43fff3;
  width: 120px;
  height: 40px;
  text-align: center;
}
