html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.attr {
  background-color: #34495e;
  color : #fff;
  padding:0px 4px;
  font : 16px sans-serif;
}
