html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.panel {
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  border: 1px solid gray;
  background-color: white;
}

.panel .item {
  line-height: 40px;
}

.text-marker {
  border: 1px solid gray;
  background-color: white;
  font-size: 30px;
  text-shadow: 2px 0 gray;
  padding: 15px;
}
