<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
        <title>{{ title }}</title>
    </head>
    <body>
        <div>
            <div>
                <iframe frameborder="0" src="raw/{{ basename }}"></iframe>
            </div>
            <div>
                <div>
                    <textarea>{{ content }}</textarea>
                </div>
                <div>
                    <textarea>{{ js.source }}</textarea>
                </div>
                <div>
                    <textarea>{{ css.source }}</textarea>
                </div>
            </div>
        </div>
    </body>
</html>
