<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>maptalks.js examples</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
  <meta name="format-detection" content="telephone=no" />
  <link href="../css/reset_css.css" rel="stylesheet" />
  <link href="../css/all.css" rel="stylesheet" />
</head>

<body>
  <div id="container">
    <div id="sidebar">
      <a href="javascript:;" class="button-menu"></a>
      {{#list}} {{/list}}
    </div>
    <div id="viewer-wrapper">
      <iframe id="viewer" name="viewer" allowfullscreen="" allowvr="" onmousewheel=""></iframe>
    </div>
    <span class="clear"></span>
  </div>
  <span class="clear"></span>
  <script src="../js/jquery.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      var link = 'examples/map/load/index.html';
      var hash = window.location.hash;
      if (hash) {
        link = 'examples/' + hash.replace('#', '').replace(',', '/') + '/index.html';
      }
      $('#viewer')[0].src = link;
      $('#sidebar .menu-list').sidebarmenu();
    });

    function selectExample(link) {
      window.location.hash = link;
    }

    // side bar menu in small screen
    $.fn.sidebarmenu = function () {
      var self = $(this);
      if (self.length === 0) {
        return;
      }
      self.prev('.button-menu').bind('click', function () {
        if ($(this).is('.button-menu-open')) {
          $(this).removeClass('button-menu-open');
          self.slideUp(function () {
            $('#viewer-wrapper').show();
          });
        } else {
          $(this).addClass('button-menu-open');
          self.slideDown();
          $('#viewer-wrapper').hide();
        }
      });
    };

  </script>
</body>

</html>
