<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MapTalks Demos</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="../../../../style.css">
</head>
<body>
    <header id="header" class="wrapper">
      <div id="header-inner" class="inner">
        <h1 id="logo-wrap">
          <a href="/maptalks.org/" id="logo">Maptalks.js</a>
        </h1>
        <nav id="main-nav">
          <a href="/maptalks.org/download/" class="main-nav-link">Download</a>
          <a href="/maptalks.org/docs/" class="main-nav-link">Docs</a>
          <a href="https://github.com/maptalks/docs" class="main-nav-link">API</a>
          <a href="http://121.40.37.230/maptalks-demo/examples/en/list.html" class="main-nav-link">Examples</a>
          <a href="/maptalks.org/plugins/" class="main-nav-link">Plugins</a><a href="/maptalks.org/supports/" class="main-nav-link">Supports</a>
        </nav>
        <div id="lang-select-wrap">
          <label id="lang-select-label"><i class="fa fa-globe"></i><span>English</span></label>
          <select id="lang-select" data-canonical="index.html">

              <option value="en" selected>English</option>

              <option value="zh-cn">简体中文</option>

          </select>
        </div>
        <a id="mobile-nav-toggle">
          <span class="mobile-nav-toggle-bar"></span>
          <span class="mobile-nav-toggle-bar"></span>
          <span class="mobile-nav-toggle-bar"></span>
        </a>
      </div>
    </header>
    <!-- header end -->
    <div id="container">
        <aside id="sidebar">
            <a href="#" class="btn_Sort"></a>
            <ul class="SortList">
                {{#list}} {{/list}}
            </ul>
        </aside>
        <!-- sidebar end -->
        <iframe id="demo_iframe" name="demo_iframe" sandbox="allow-popups allow-scripts allow-forms allow-same-origin" marginwidth="0" style="min-height: 800px;" marginheight="0" scrolling="no" frameborder="0" src="map/load/index.html"></iframe>
        <span class="clear"></span>
    </div>
    <!-- container end -->
    <footer id="footer" class="wrapper">
      <div class="inner">
        <div id="footer-links">
          <a href="#" class="footer-link" target="_blank"><i class="fa"></i>Recruit</a>
          <a href="#" class="footer-link" target="_blank"><i class="fa"></i>Disclaimer</a>
          <a href="https://github.com/maptalks/maptalks.js" class="footer-link" target="_blank"><i class="fa"></i>Contact us</a>
          <a href="#" class="footer-link" target="_blank"><i class="fa"></i>Investment</a>
        </div>
        <div id="footer-copyright">
          Copyright &copy; 2016 <a href="https://maptalks.org/" target="_blank">Maptalks</a><br>
        </div>
      </div>
    </footer>
    <!-- footer end -->
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="../../../../js/respond.src.js"></script>
    <script language="javascript" type="text/javascript" src="../../../../js/html5.js"></script>
    <![endif]-->
    <script src="../../../../js/jquery.js"></script>
    <script src="../../../../js/load.js"></script>
    <script type="text/javascript">
    function setIframeHeight(iframe) {
        if (iframe) {
            //Clear the blank block on the page bottom.
            iframe.height = '800px';
            var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            if (iframeWin.document.body) {
            iframe.height = iframeWin.document.documentElement.scrollHeight
                || iframeWin.document.body.scrollHeight;
            }
        }
    };

    function reSetIframeHeight() {
        var iframe = document.getElementById('demo_iframe');
        setIframeHeight(iframe);
    }

    window.onload = function () {
        reSetIframeHeight();
    };

    </script>
</body>
</html>
