<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MapTalks Demos</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="../../../../style.css">
</head>
<body>
    <header id="header">
        <div id="logo">
            <a href="#" > <img src="../../../../images/demo/logo.jpg" alt="description " /></a>
        </div>
        <!-- logo end -->
        <nav id="menu">
            <ul>
                <li><a href="#">文档</a></li>
                <li class="change"><a href="#">API</a>
                    <ol>
                        <li><a href="#">文档</a></li>
                        <li><a href="#" class="change">示例</a></li>
                    </ol>
                </li>
                <li><a href="#">插件</a></li>
                <li><a href="#">服务与支持</a></li>
            </ul>

        </nav>
        <!-- menu end -->
        <a href="#" class="btn_menu"></a>
        <span class="clear"></span>
        <!-- clear float -->
    </header>
    <!-- header end -->

    <div id="container">
        <aside id="sidebar">
            <a href="#" class="btn_Sort"></a>
            <ul class="SortList">
                {{#list}} {{/list}}
            </ul>
        </aside>
        <!-- sidebar end -->
        <iframe id="demo_iframe" name="demo_iframe" sandbox="allow-popups allow-scripts allow-forms allow-same-origin" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="map/canvas/index.html"></iframe>
        <!-- content end -->

        <span class="clear"></span>
        <!-- clear float -->
    </div>
    <!-- container end -->

    <footer id="footer">
        <ul class="bomnav">
            <li> <a href="#">招聘机会</a></li>
            <li><a href="#">免责声明</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">投资合作</a></li>
        </ul>
        <div class="copyright">
            <p>
            Copyright &copy; MapTalks.org </p>
        </div>
        <span class="clear"></span>
    </footer>
    <!-- footer end -->
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="../../../../js/respond.src.js"></script>
    <script language="javascript" type="text/javascript" src="../../../../js/html5.js"></script>
    <![endif]-->
    <script src="../../../../js/jquery.js"></script>
    <script src="../../../../js/load.js"></script>
    <script type="text/javascript">
    function setIframeHeight(iframe) {
        if (iframe) {
            var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            if (iframeWin.document.body) {
            iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
            }
        }
    };

    window.onload = function () {
        setIframeHeight(document.getElementById('demo_iframe'));
    };
    </script>
</body>
</html>
