<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>3D Views - Change 3D View</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
  <meta name="format-detection" content="telephone=no" />

  <link rel="stylesheet" href="../../../../css/reset_css.css" />
  <link rel="stylesheet" href="../../../../css/all.css" />
  <link rel="stylesheet" href="../../../../monokai-sublime.css" />
  <style type="text/css">
    html,
    body {
      overflow-y: auto;
    }

  </style>
  <script type="text/javascript" src="../../../../highlight.min.js"></script>
</head>

<body>
  <article id="example">
    <div id="map">
      <h3 class="main-title">Change 3D View</h3>
      <iframe sandbox="allow-popups allow-scripts allow-forms allow-same-origin" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="raw/index.html"></iframe>
    </div>
    <div class="button">
      <a href="https://github.com/maptalks/maptalks-demo/tree/master/src/examples/3d/view" target="_blank"><img src="../../../../images/icon2.png"> Source</a>
      <a href="raw/index.html" target="_blank"><img src="../../../../images/icon1.png"> Open</a>
      <a href="javascript:edit();"><img src="../../../../images/icon2.png"> Edit</a>
    </div>

    <div id="code">
      <div class="code-box" data-key="index.html">
        <h3 class="code-title">index.html<a name="index.html" class="anchor" href="#index.html">#</a></h3>
        <pre>
          <code class="html xml">&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;meta charset&#x3D;&quot;UTF-8&quot;&gt;
  &lt;meta name&#x3D;&quot;viewport&quot; content&#x3D;&quot;width&#x3D;device-width, initial-scale&#x3D;1&quot;&gt;
  &lt;link rel&#x3D;&quot;stylesheet&quot; href&#x3D;&quot;index.css&quot;&gt;
  &lt;link rel&#x3D;&quot;stylesheet&quot; href&#x3D;&quot;https://unpkg.com/maptalks/dist/maptalks.css&quot;&gt;
  &lt;script type&#x3D;&quot;text/javascript&quot; src&#x3D;&quot;https://unpkg.com/maptalks/dist/maptalks.js&quot;&gt;&lt;/script&gt;
  &lt;title&gt;3D Views - Change 3D View&lt;/title&gt;
  &lt;body&gt;

    &lt;div id&#x3D;&quot;map&quot;&gt;&lt;/div&gt;
    &lt;script&gt;
      var map &#x3D; new maptalks.Map(&#x27;map&#x27;, {
        center: [-0.113049,51.498568],
        zoom: 14,
        baseLayer: new maptalks.TileLayer(&#x27;base&#x27;, {
          urlTemplate: &#x27;http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png&#x27;,
          subdomains: [&quot;a&quot;,&quot;b&quot;,&quot;c&quot;,&quot;d&quot;,&quot;e&quot;]
        }),
        layers: [
          new maptalks.VectorLayer(&#x27;v&#x27;)
        ]
      });

      addMarkers();

      var pitch &#x3D; 0, d &#x3D; &#x27;up&#x27;, bearing &#x3D; 0;
      var paused &#x3D; false;

      changeView();

      function changeView() {
        if (pitch &gt; 50) {
          d &#x3D; &#x27;down&#x27;;
        } else if (pitch &lt; 0) {
          d &#x3D; &#x27;up&#x27;;
        }
        if (d &#x3D;&#x3D;&#x3D; &#x27;down&#x27;) {
          pitch--;
        } else {
          pitch++;
        }
        map.setPitch(pitch);
        map.setBearing(bearing++);
        if (!paused) {
          requestAnimationFrame(changeView);
        }
      }

      function reset() {
        requestAnimationFrame(function () {
          paused &#x3D; true;
          pitch &#x3D; 0;
          bearing &#x3D; 0;
          map.setPitch(0);
          map.setBearing(0);
        });
      }

      function addMarkers() {
        var center &#x3D; map.getCenter();
        var m1 &#x3D; new maptalks.Marker(center.add(-0.008, -0.008));
        var m2 &#x3D; new maptalks.Marker(center.add(0.008, -0.008));
        var m3 &#x3D; new maptalks.Marker(center.add(-0.008, 0.008));
        var m4 &#x3D; new maptalks.Marker(center.add(0.008, 0.008));
        map.getLayer(&#x27;v&#x27;).addGeometry(m1, m2, m3, m4);
      }

      var toolbar &#x3D; new maptalks.control.Toolbar({
        items: [
          {
            &#x27;item&#x27; : &#x27;pause&#x27;,
            &#x27;click&#x27; : function () {
              paused &#x3D; true;
            }
          },
          {
            &#x27;item&#x27; : &#x27;start&#x27;,
            &#x27;click&#x27; : function () {
              paused &#x3D; false;
              changeView();
            }
          },
          {
            &#x27;item&#x27; : &#x27;reset&#x27;,
            &#x27;click&#x27; : function () {
              reset();
            }
          }
        ]
      }).addTo(map);

    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code>
        </pre>
      </div>
      <div class="code-box" data-key="index.css">
        <h3 class="code-title">index.css<a name="index.css" class="anchor" href="#index.css">#</a></h3>
        <pre>
          <code class="lang-css">
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}
</code>
        </pre>
      </div>
    </div>

  </article>

  <span class="clear"></span>
  <div style="display:none;">
    <form method="post" action="http://jsfiddle.net/api/post/library/pure/" id="editor" target="_blanks">
      <textarea name="html">
        <link rel="stylesheet" href="https://unpkg.com/maptalks/dist/maptalks.css">
        <script type="text/javascript" src="https://unpkg.com/maptalks/dist/maptalks.js"></script>
        
    <div id="map"></div>
      </textarea>
      <textarea name="js">      var map = new maptalks.Map('map', {
        center: [-0.113049,51.498568],
        zoom: 14,
        baseLayer: new maptalks.TileLayer('base', {
          urlTemplate: 'http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png',
          subdomains: ["a","b","c","d","e"]
        }),
        layers: [
          new maptalks.VectorLayer('v')
        ]
      });

      addMarkers();

      var pitch = 0, d = 'up', bearing = 0;
      var paused = false;

      changeView();

      function changeView() {
        if (pitch > 50) {
          d = 'down';
        } else if (pitch < 0) {
          d = 'up';
        }
        if (d === 'down') {
          pitch--;
        } else {
          pitch++;
        }
        map.setPitch(pitch);
        map.setBearing(bearing++);
        if (!paused) {
          requestAnimationFrame(changeView);
        }
      }

      function reset() {
        requestAnimationFrame(function () {
          paused = true;
          pitch = 0;
          bearing = 0;
          map.setPitch(0);
          map.setBearing(0);
        });
      }

      function addMarkers() {
        var center = map.getCenter();
        var m1 = new maptalks.Marker(center.add(-0.008, -0.008));
        var m2 = new maptalks.Marker(center.add(0.008, -0.008));
        var m3 = new maptalks.Marker(center.add(-0.008, 0.008));
        var m4 = new maptalks.Marker(center.add(0.008, 0.008));
        map.getLayer('v').addGeometry(m1, m2, m3, m4);
      }

      var toolbar = new maptalks.control.Toolbar({
        items: [
          {
            'item' : 'pause',
            'click' : function () {
              paused = true;
            }
          },
          {
            'item' : 'start',
            'click' : function () {
              paused = false;
              changeView();
            }
          },
          {
            'item' : 'reset',
            'click' : function () {
              reset();
            }
          }
        ]
      }).addTo(map);
</textarea>
      <textarea name="css">
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}
</textarea>
      <input type="text" name="title" value="Change 3D View">
      <textarea name="description">3D Views - Change 3D View</textarea>
      <textarea name="resources">
      </textarea>
      <input type="text" name="wrap" value="l">
    </form>
  </div>
  <script>
    function highlight() {
      var codes = document.getElementsByTagName('code');
      for (var i = 0; i < codes.length; i++) {
        hljs.highlightBlock(codes[i]);
      }
    }

    function edit() {
      document.getElementById('editor').submit();
    }

    highlight();

  </script>
</body>

</html>
