
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

#map {
  float: left;
  width: 70%;
  height: 100%;
}

#region {
  float: right;
  width: 30%;
  height: 100%;
  color: blue;
}

#info {
  height: 100%;
  color: blue;
}
