body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  color: #86a5b1;
  background-color: #2f3241;
  line-height: 1.5;
}

* {
  padding: 0;
  margin: 0;
}

/* code pretty */
pre.prettyprint {
  margin: 0;
  padding: 4px;
  border: none;
}
