
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.pane {
  background: #34495e;
  padding : 10px;
  line-height: 28px;
  color: #fff;
  z-index : 10;
  position: absolute;
  top : 20px;
  right : 20px;
}
