
html,
body {
    font: 13px "microsoft yahei",Arial,Helvetica;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.left {
    float: left;
    width : 50%;
}

.right {
    float: right;
    width : 50%;
}

.title {
    color : #fff;
    background-color:  #34495e;
    text-align: center;
    height : 15px;
    line-height : 15px;
}

#map-3857 {
    height: 45%;
}

#map-bd09 {
    height: 45%;
}

#map-4326 {
    height: 45%;
}

#map-identity {
    height: 45%;
}
