html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 800px;
}

#swipe {
  background-color: transparent;
  width: 100%;
  border: none;
  height:10px;
  cursor: col-resize;
  margin-bottom : 20px;
}
